:root {
    --background-color: #DBDBD3;
    --background-strip: #009688;
    --chat-clicked-color: #E9EBEB;
    --contact-search-color: #EAEAEA;
    --chat-text-color: #E9ECEC;
    --notification-color: #8EDAFC;
    ----darkgray-: #9f9b9b;

}


body {
    background: linear-gradient(var(--background-strip) 15%, var(--background-color) 15% 100%);;
}

.app-container {
    background-color: white;
}


/* My-contact */
.my-contact {
    background-color: var(--contact-search-color);
}

.personal-info {
    width: 10%;

    position: relative;
}

.personal-info > p {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.personal-info > img {
    width: 100%;
    border-radius: 50%;
}

.icon-info > i {
    height: 50px;
    line-height: 50px;

    color: var(----darkgray-);
}

/* Notifications */

.notifications {
    background-color: var(--notification-color);
    font-size: 10px;
}

.notification-icon {
    background-color: white;

    border-radius: 50%;
    width: 25px;
    height: 25px;

    line-height: 25px;
    text-align: center;

}

.notification-icon>i {
    color: var(--notification-color);
}

.notification-text>p,
.contact-info>p {
    margin: 0;
}

.notification-text>span {
    text-decoration: underline;
    color: rgb(73, 73, 73);
    font-size: xx-small;
}

/* Search-bar */

.search-bar {
    background-color: var(--contact-search-color);
    font-size: xx-small;

    color: var(----darkgray-);
}

.search-bar > span {
    background-color: white;
    border: 1px solid var(--background-color);
}

.search-bar > input {
    border: 1px solid var(--background-color);
    background-color: white;

    width: 100%;
}

/* Contacts-list */

.contacts-container {
    overflow-y: scroll;

}

.contact {
    border-top: 1px solid var(----darkgray-);
}

.contact-image {
    width: 30%;
}

.contact-image > img {
    width: 100%;
    object-fit: 1;
    border-radius: 50%;
}

.contact-info {
    position: relative;

    width: 70%;
}

.contact-info > span,
.contact-info > time {
    font-size: x-small;
    color: var(----darkgray-);
}

.contact-info > time {
    position: absolute;
    top: 0;
    right: 0;
}